<!-- Income / Cash Flow Charts -->
<div class="card span-3" id="section-income">
    <div class="card-header">
        <div class="card-title">&#128181; Income Sources Over Time</div>
    </div>
    <div class="chart-container large">
        <canvas id="chartIncome"></canvas>
    </div>
</div>

<div class="card span-3" id="section-surplusgap">
    <div class="card-header">
        <div class="card-title">&#9878; Surplus / Gap Analysis</div>
    </div>
    <div class="chart-container large">
        <canvas id="chartSurplusGap"></canvas>
    </div>
</div>

<div class="card span-3" id="section-moneyflow">
    <div class="card-header">
        <div class="card-title">&#127386; Annual Money Flow - <span id="cashFlowYearLabel">2026</span></div>
    </div>
    <div class="chart-container large">
        <canvas id="chartMoneyFlow"></canvas>
    </div>
</div>